<form role="search" method="get" id="searchform" action="{{ env.siteUrl }}">
    <input type="text" placeholder="{% trans 'search...' %}" name="s" id="s">
    <input type="submit" class="btn btn-sm" value="OK">
</form>